{% extends 'inpc/base.html' %}

{% block content %}
<div class="container mt-4">
    <h1 class="mb-4">Supprimer le Produit du Panier</h1>
    <p>Êtes-vous sûr de vouloir supprimer le produit "{{ object.product.name }}" du panier "{{ object.cart.name }}" ?</p>
    <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Confirmer la suppression</button>
        <a href="{% url 'cart_product_list' %}" class="btn btn-secondary">Annuler</a>
    </form>
</div>
{% endblock %}