{% extends "inpc/base.html" %}

{% block title %}Liste des Communes{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-12 col-lg-10">
            <div class="card">
                <div class="card-header bg-white py-3">
                    <h1 class="h3 mb-0">
                        <i class="fas fa-map me-2"></i>
                        Liste des Communes
                    </h1>
                </div>
                <div class="card-body">
                    <!-- Bouton pour ajouter une commune -->
                    <a href="{% url 'commune_create' %}" class="btn btn-primary mb-3">
                        <i class="fas fa-plus me-2"></i>Ajouter une Commune
                    </a>

                    <!-- Tableau des communes -->
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Code</th>
                                <th>Nom</th>
                                <th>Moughata</th>
                                
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for commune in communes %}
                                <tr>
                                    <td>{{ commune.code }}</td>
                                    <td>{{ commune.name }}</td>
                                    <td>{{ commune.moughata.label }}</td>
                                    
                                    <td>
                                        <!-- Bouton pour modifier une commune -->
                                        <a href="{% url 'commune_update' commune.pk %}" class="btn btn-sm btn-warning">
                                            <i class="fas fa-edit me-1"></i>Modifier
                                        </a>
                                        <!-- Bouton pour supprimer une commune -->
                                        <a href="{% url 'commune_delete' commune.pk %}" class="btn btn-sm btn-danger">
                                            <i class="fas fa-trash me-1"></i>Supprimer
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}